In [344]:
# Dynamic Scrapping

#@author: yagizcanurkmez

In [295]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.select import Select

In [296]:
url = 'https://weather.uwyo.edu/upperair/naconf.html'
driver = webdriver.Chrome()
driver.get(url)

In [297]:
table = driver.find_element(By.TAG_NAME,"table")
table_body = table.find_element(By.TAG_NAME,"tbody")
table_rows = table_body.find_elements(By.TAG_NAME,"tr")

In [298]:
#print(table_body.text)

In [299]:
for row in table_rows:
    table_data = row.find_elements(By.TAG_NAME, "td")
    row_data=[]
    for data in table_data:
        row_data.append(data.text)
    #print(row_data)

In [300]:
#SELECT REGION

select_element = Select(driver.find_element("name","region"))
select_element.select_by_value("europe") # Change here

In [301]:
#SELECT TYPE OF DATA usually is TEXT:LIST
select_element = Select(driver.find_element("name","TYPE"))
select_element.select_by_value("TEXT:LIST")

In [302]:
#SELECT YEAR
year="2024" #Change here
select_element = Select(driver.find_element("name","YEAR"))
select_element.select_by_visible_text(year)

In [303]:
#SELECT MONTH
month="11" #Change here
select_element = Select(driver.find_element("name","MONTH"))
select_element.select_by_value(month)

In [304]:
#SELECT FROM
day_from = "01" #Change here
utc_from= "00" #Change here
select_element = Select(driver.find_element("name","FROM"))
select_element.select_by_value(day_from+utc_from) # for ex. the month of the day is 10 and 
                                       # the time of the radiosonde gone is  00 UTC then value is 1000

In [305]:
#SELECT TO
day_to="05" #Change here
utc_to="00" #Change here
select_element = Select(driver.find_element("name","TO"))
select_element.select_by_value(day_to+utc_to) # Same as From

In [306]:
#CLICK ON THE IMAGE and SELECT STATION
station_id = '17064'  # Change Here

xpath = f"//area[contains(@href, \"g('{station_id}')\")]"
try:
    element = driver.find_element(By.XPATH, xpath)
    element.click()
    print(f"Element found for {station_id} : {element.get_attribute('outerHTML')}")
except:
    print(f"Element cannot found for {station_id} .")

Element found for 17064 : <area coords="390,268,5" shape="CIRCLE" href="javascript:g('17064')" title="17064  Istanbul/Kartal">

In [307]:
all_tabs = driver.window_handles

driver.switch_to.window(all_tabs[-1])


page_source = driver.page_source
#print(page_source)

In [308]:
from bs4 import BeautifulSoup as bs
import re

In [309]:
soup = bs(page_source,"html.parser")

In [310]:
#print(soup)

In [311]:
indices= soup.find_all(string=re.compile(r"Station number:"))

In [312]:
import pandas as pd

In [313]:
data = []
for i in range(0,len(indices)):
    for word in indices[i].split("\n"):
        b = word.strip()
        #print(b)
        data.append(b)
    data.remove('')
        

#print(data)

In [314]:
rowss=[]
for i in range(0,len(data)):
    column_name = data[i].split(":")[0]
    if ((data[i].split(":")[0] != "Observation time") and (data[i].split(":")[0] != "Station number")) :
        value=float(data[i].split(":")[1])
    else:
        value=data[i].split(":")[1]
    rowss.append({column_name:value})

In [315]:
#print(rowss)

In [330]:
result = {}
for d in rowss:
    for key, value in d.items():
        if key in result:
            if isinstance(result[key], list):
                result[key].append(value)
            else:
                result[key] = [result[key], value]
        else:
            result[key] = [value]
print(result)

{'Station number': [' 17064', ' 17064', ' 17064', ' 17064', ' 17064', ' 17064', ' 17064', ' 17064', ' 17064'], 'Observation time': [' 241101/0000', ' 241101/1200', ' 241102/0000', ' 241102/1200', ' 241103/0000', ' 241103/1200', ' 241104/0000', ' 241104/1200', ' 241105/0000'], 'Station latitude': [40.91, 40.91, 40.91, 40.91, 40.91, 40.91, 40.91, 40.91, 40.91], 'Station longitude': [29.16, 29.16, 29.16, 29.16, 29.16, 29.16, 29.16, 29.16, 29.16], 'Station elevation': [19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0], 'Showalter index': [8.43, 8.72, 5.39, 8.04, 6.29, 13.32, 13.07, 17.38, 13.95], 'Lifted index': [7.65, 5.84, 5.48, 6.21, 3.49, 12.69, 10.98, 13.16, 12.77], 'LIFT computed using virtual temperature': [7.59, 5.84, 5.37, 6.09, 3.43, 12.75, 11.03, 13.06, 12.75], 'SWEAT index': [64.19, 58.6, 75.62, 45.01, 79.18, 104.0, 59.01, 65.02, 59.01], 'K index': [13.3, -5.5, 7.1, 1.9, 13.9, 10.1, -9.2, -32.9, 5.9], 'Cross totals index': [15.7, 15.7, 17.3, 12.5, 19.1, 12.9, 15.1, -23.1, 12.9], 'Vertical totals index': [22.7, 21.7, 25.3, 25.5, 23.3, 18.9, 18.6, 22.9, 17.7], 'Totals totals index': [38.4, 37.4, 42.6, 38.0, 42.4, 31.8, 33.7, -0.2, 30.6], 'Convective Available Potential Energy': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'CAPE using virtual temperature': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.22, 0.0, 0.0], 'Convective Inhibition': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -35.74, 0.0, 0.0], 'CINS using virtual temperature': [0.0, 0.0, 0.0, 0.0, -44.81, 0.0, -29.26, 0.0, 0.0], 'Bulk Richardson Number': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'Bulk Richardson Number using CAPV': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.01, 0.0, 0.0], 'Temp [K] of the Lifted Condensation Level': [281.8, 281.05, 284.0, 281.21, 284.18, 272.41, 275.69, 273.9, 276.79], 'Pres [hPa] of the Lifted Condensation Level': [929.42, 874.44, 940.07, 885.14, 944.09, 835.46, 899.81, 854.68, 902.61], 'Equivalent potential temp [K] of the LCL': [309.36, 314.24, 313.87, 313.29, 313.85, 299.38, 298.69, 300.14, 300.71], 'Mean mixed layer potential temperature': [287.78, 292.05, 289.08, 291.21, 288.91, 286.78, 284.15, 286.49, 285.03], 'Mean mixed layer mixing ratio': [7.63, 7.71, 8.76, 7.76, 8.85, 4.39, 5.15, 4.76, 5.55], '1000 hPa to 500 hPa thickness': [5570.0, 5606.0, 5621.0, 5623.0, 5586.0, 5494.0, 5494.0, 5543.0, 5525.0], 'Precipitable water [mm] for entire sounding': [19.53, 19.85, 22.19, 15.79, 21.52, 16.29, 12.63, 10.23, 16.48], 'LFCT using virtual temperature': [849.96, 858.77], 'Equilibrum Level': [848.98], 'Equilibrum Level using virtual temperature': [846.66], 'Level of Free Convection': [852.33]}

In [317]:
import pandas as pd

In [336]:
max_length = max(len(v) for v in result.values())
for key in result:
    while len(result[key]) < max_length:
        result[key].append(None)

print(result)

the_indices = pd.DataFrame.from_dict(result)

{'Station number': [' 17064', ' 17064', ' 17064', ' 17064', ' 17064', ' 17064', ' 17064', ' 17064', ' 17064'], 'Observation time': [' 241101/0000', ' 241101/1200', ' 241102/0000', ' 241102/1200', ' 241103/0000', ' 241103/1200', ' 241104/0000', ' 241104/1200', ' 241105/0000'], 'Station latitude': [40.91, 40.91, 40.91, 40.91, 40.91, 40.91, 40.91, 40.91, 40.91], 'Station longitude': [29.16, 29.16, 29.16, 29.16, 29.16, 29.16, 29.16, 29.16, 29.16], 'Station elevation': [19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0], 'Showalter index': [8.43, 8.72, 5.39, 8.04, 6.29, 13.32, 13.07, 17.38, 13.95], 'Lifted index': [7.65, 5.84, 5.48, 6.21, 3.49, 12.69, 10.98, 13.16, 12.77], 'LIFT computed using virtual temperature': [7.59, 5.84, 5.37, 6.09, 3.43, 12.75, 11.03, 13.06, 12.75], 'SWEAT index': [64.19, 58.6, 75.62, 45.01, 79.18, 104.0, 59.01, 65.02, 59.01], 'K index': [13.3, -5.5, 7.1, 1.9, 13.9, 10.1, -9.2, -32.9, 5.9], 'Cross totals index': [15.7, 15.7, 17.3, 12.5, 19.1, 12.9, 15.1, -23.1, 12.9], 'Vertical totals index': [22.7, 21.7, 25.3, 25.5, 23.3, 18.9, 18.6, 22.9, 17.7], 'Totals totals index': [38.4, 37.4, 42.6, 38.0, 42.4, 31.8, 33.7, -0.2, 30.6], 'Convective Available Potential Energy': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'CAPE using virtual temperature': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.22, 0.0, 0.0], 'Convective Inhibition': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -35.74, 0.0, 0.0], 'CINS using virtual temperature': [0.0, 0.0, 0.0, 0.0, -44.81, 0.0, -29.26, 0.0, 0.0], 'Bulk Richardson Number': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'Bulk Richardson Number using CAPV': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.01, 0.0, 0.0], 'Temp [K] of the Lifted Condensation Level': [281.8, 281.05, 284.0, 281.21, 284.18, 272.41, 275.69, 273.9, 276.79], 'Pres [hPa] of the Lifted Condensation Level': [929.42, 874.44, 940.07, 885.14, 944.09, 835.46, 899.81, 854.68, 902.61], 'Equivalent potential temp [K] of the LCL': [309.36, 314.24, 313.87, 313.29, 313.85, 299.38, 298.69, 300.14, 300.71], 'Mean mixed layer potential temperature': [287.78, 292.05, 289.08, 291.21, 288.91, 286.78, 284.15, 286.49, 285.03], 'Mean mixed layer mixing ratio': [7.63, 7.71, 8.76, 7.76, 8.85, 4.39, 5.15, 4.76, 5.55], '1000 hPa to 500 hPa thickness': [5570.0, 5606.0, 5621.0, 5623.0, 5586.0, 5494.0, 5494.0, 5543.0, 5525.0], 'Precipitable water [mm] for entire sounding': [19.53, 19.85, 22.19, 15.79, 21.52, 16.29, 12.63, 10.23, 16.48], 'LFCT using virtual temperature': [849.96, 858.77, None, None, None, None, None, None, None], 'Equilibrum Level': [848.98, None, None, None, None, None, None, None, None], 'Equilibrum Level using virtual temperature': [846.66, None, None, None, None, None, None, None, None], 'Level of Free Convection': [852.33, None, None, None, None, None, None, None, None]}

In [341]:
first_date = day_from+"_"+month+"_"+year
last_date = day_to+"_"+month+"_"+year
the_indices.to_csv(first_date+"-"+last_date+"-"+station_id+".csv")